/* Default styles for larger screens */
.buyticktes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  width: 90vw;
  align-content: center;
  padding: 10px;
}

.buyticktes button {
  width: 9vw;
}
.home-container {
  display: none;
}
.home-container .home-container-info {
  display: none;
}
.buytiktcontainer {
  width: 48vw;
  height: 6.9vw;
}

.buytiktcontainer span {
  width: 13vw;
}

.buytiktcontainer .location {
  width: 18vw;
}

/* Styles for smaller screens using media queries */
@media (max-width: 768px) {
  .buyticktes {
    display: none;
    background-color: rgb(15, 141, 141);
    flex-direction: column;
    text-align: center;
    height: 20vw;
  }
  .buyticktes span {
    display: none;
    padding: 1vw;
  }
  .buyticktes button {
    background-color: blue;
    width: auto;
    display: none;
    margin-top: 10px;
  }

  .buytiktcontainer {
    width: 80vw;
    display: none;
    background-color: rgb(24, 145, 145);
  }

  .buytiktcontainer span {
    width: auto;
    display: none;
    margin-bottom: 5px;
    background-color: rgb(3, 43, 30);
  }

  ul h2 {
    padding-top: 10px;
    background-color: blueviolet;
    display: none;
  }
}
@media screen and (max-width: 666px) {
  .home-container {
    background-color:  rgb(15, 141, 141);
    height: 30vh;
    display: block;
    margin-top: 0px;
    padding-top: 0px;
  }
  .home-container .home-container-info {
    background-color: rgb(175, 202, 174);
    display: block;  padding-bottom: 5vh;
    height: 100%;
  }
  .home-container h2 {
    text-align: center;
   border-bottom: 2px solid rgb(233, 221, 221);
  }
  .home-container button {
    text-align: center;
 

    margin-left: 35vw;
    border: 0;
    outline: 0;
    border-radius: 5px;
    width: 30vw;
    height: 6vh;
  
  }
}

@media screen and (max-width: 335px) {
    .home-container {
      background-color:  rgb(162, 230, 141);
      height: 30vh;
      display: block;
      margin-top: 0px;
      padding-top: 0px;
    }
    .home-container .home-container-info {
      background-color: rgb(24, 138, 20);
      display: block;  
      height: 100%;
    }
    .home-container h2 {
      text-align: center;
     border-bottom: 2px solid rgb(233, 221, 221);
    }
    .home-container button {
      text-align: center;
   
  
      margin-left: 20vw;
      border: 0;
      outline: 0;
      border-radius: 5px;
      width: 60vw;
      height: 9vw;
    
    }
  }
  